body{
  background-color:;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  height:100px;
  width: 100%;
  text-align: center;
  padding: 30px;
  font-size: 35px;
  font-family: Righteous;
}
.home {
  position: absolute;
  left: 90%;
  top: -0.5%;
  font-size: 40px;
}
.newGame{
  position:relative;
  left:40%;
  height:50px;
  border-radius:5px;
  background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;

}
.newGame:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
#grid{
  position:relative;
  left:37%;

}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width:100px;
}


.minContainer {
    padding: 20px;
    padding-right: 30px;
    position: relative;
    left:40%;
    bottom:40%;

}

table {
    border-collapse:collapse;
    table-layout: fixed;
    border-spacing: 0;
   height:200px;
  width:200px;
   position: relative;
     top:100px;



}
.td {
    border: 2px solid #cccccc;
    font-size:20px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#ccc;
    line-height: 1.428571429;
    width: 30px;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    text-align: center;

}

.X{
    background-color: #FF8362;
}

.O{
    background-color: #BB7365;
}
html{
  position:relative;
  top:50%;
}
