.slides {
  margin: 50px auto;
  max-width: 1000px;
  padding-top: 200px;
}

.slide {
  border: 4px solid black;
  padding: 30px;
  margin-bottom: 200px;
}

.blurb {
  border-bottom: 4px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.slide:nth-child(1) .blurb {
  color: #673AB7;
}

.blurb .title {
  font-size: 64px;
  letter-spacing: 0.02em;
}
.blurb .sub {
  font-size: 24px;
}

.example {
  background: #eee;
  padding: 30px;
}
.example.no-padding {
  padding: 0px;
}

.example-1 {
  overflow: hidden;
}
.example-1 .belt {
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.example-1 .state {
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #673AB7;
}
.state-inner1 {
  position: relative;
  right:6%;
  width: 200px;
  height: 150px;
 border: 5px solid black;
  border-radius:5px;
  margin: 30px;
  -webkit-animation: zoom 0.8s ease-in;
  -ms-animation: zoom 0.8s ease-in;
  animation: zoom 0.8s ease-in;

}
.state-inner1:hover {
  transform: scale(1.05)
}
.state-inner2 {
  position: relative;
  right:3%;
  width: 200px;
  height: 150px;
 border: 5px solid black;
  border-radius:5px;
   margin: 20px;
   -webkit-animation: zoom 0.8s ease-in;
   -ms-animation: zoom 0.8s ease-in;
   animation: zoom 0.8s ease-in;
}
.state-inner2:hover {
  transform: scale(1.05)
}
.state-inner3 {
  position: relative;
  right:0%;
  width: 290px;
  height: 150px;
   border: 5px solid black;
  border-radius:5px;
   margin: 10px;
   font-size: 18px;
  }
.state-inner3:hover{
  transform: scale(1.05);
}
  a {
    text-decoration: none;


  }
img{
  width:180px;
  height:140px;
}
em{
  text-align:center;
  position:relative;
  top:25%;
  left:5%;
  font-size:50px ;
  letter-spacing:0.3em;
  font-family: Jua;
  color:black;


}
/*animation*/
@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
